body {
    font-family: 'Oswald', sans-serif;
}

.wrapper {
    max-width: 1190px;
    margin: 0 auto;
}
.flex-row {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
//reglè générale pour toute les sections
section {
    article {
        a{
            text-decoration: none;
            .article-txt{
                padding: 30px;
                .label{
                    text-transform: uppercase;
                    font-size: 14px;
                    color: #EA1717;
                }
                h2 {
                    color: #000;
                    font-size: 20px;
                    text-transform: uppercase;
                }
            }
            &:hover{
                h2{
                    color: #EA1717;
                }
            }
        }
    }
}